* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

strong {
  background-color: transparent;
}
