.GameStatusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 480px;
  min-height: 60px;
  text-align: center;
}

.isWon {
  background-color: green;
}

.isLost {
  background-color: red;
}

.incorrect {
  background-color: #7a5ea7;
  border: 1px dashed #323232;
  font-style: italic;
  font-weight: 400;
}
