.inputContainer {
  display: inline-flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}

.kbInput {
  background-color: rgb(24, 24, 24);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-bottom: 1px solid white;
  font-size: 1.6rem;
}

.keyBtnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  gap: 6px;
}

.key {
  color: black;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  height: 36px;
  width: 12px;
  background-color: #fcba29;
  flex: 0 1 calc(10% - 6px);
  font-weight: 800;
  cursor: pointer;
  font-size: large;
}

.key:disabled {
  cursor: auto;
  opacity: 0.5;
}

.correct {
  background-color: #10a95b;
}

.wrong {
  background-color: #ec5d49;
}
