.inputContainer {
  display: inline-flex;
  gap: 2px;
  justify-content: center; /* 水平置中內容 */
  align-items: center; /* 垂直置中內容 */
}

.kbInput {
  background-color: rgb(24, 24, 24);
  display: inline-flex;
  justify-content: center;
  align-items: end;
  width: 40px;
  height: 40px;
  border-bottom: 1px solid white;
}

.keyBtnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
  gap: 6px;
}
.key {
  color: black;
  border: none;
  border-radius: 3px;
  height: 36px;
  width: 12px;
  background-color: orangered;
  flex: 0 1 calc(10% - 6px);
  font-weight: 800;
}
