.section {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
}

.NewGame {
  font-weight: 700;
  font-size: large;
  width: 160px;
  height: 36px;
  background-color: cadetblue;
  border: none;
  cursor: pointer;
}
